.header {
  width: 100%;
  height: 80px;
  background-color: #ffffff; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1.5px solid  #188E5A; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo img {
  height: 60px;
  width: auto;
}

.title {
  color:  #188E5A; 
  font-size: 1.4rem;
  font-weight: 600;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav a {
  color:  #188E5A;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav a:hover {
  color: #388e3c;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    gap: 0.5rem;
  }

  .logo {
    flex-direction: column;
    text-align: center;
  }

  .title {
    font-size: 1.2rem;
  }

  .nav {
    gap: 1rem;
  }
}
