.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.container {
  background: white;
  width: 100%;
  max-width: 600px;
  padding: 2rem 3rem;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: all 0.3s ease;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color:  #188E5A;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

/* ===== Responsivo ===== */
@media (max-width: 1024px) {
  .container {
    max-width: 80%;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
    max-width: 90%;
  }

  .title {
    font-size: 1.6rem;
  }

  .subtitle {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .section {
    padding: 1rem;
  }

  .container {
    padding: 1rem;
    border-radius: 12px;
  }

  .title {
    font-size: 1.4rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }
}
